* {
  padding: 5px;
  margin: 5px;
  background: red;
  color:  #f5f5f7;
  
}
* {
  padding: 5px;
  margin: 5px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  line-height: 1.5;
}
#logo {
    width: 18%;
    display: block;
}
nav a:hover {
    border-color: #4d5c3b;
  text-decoration: none;
  color: #f5f5f7;
  font-weight: 400;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 12px;
}
#navselected {
    color: #92ad70;
}
footer {
  border-top: 1px solid rgba(245,245,247,.12);
  padding: 18px 16px;
  text-align: center;
  color: rgba(245,245,247,.72);
  }
th {
    padding-top: 12px;
    padding-bottom: 12px;
    width: fit-conent;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
form * {
  margin: auto;
  text-align: center;
}

.container {
  display: grid;
  grid-template-areas:
    'header header'
    'nav_bar nav_bar'
    'main main-img'
    'footer footer';
  background-color: red;
}

.header {
   grid-area: header; 
   background-color: red;
}
.nav_bar {
   grid-area: nav_bar; 
   background-color: red;
}
.main {
  grid-area: main; 
  background-color: red;
}
.main_img {
   grid-area: main-img; 
   background-color:red;
}
.footer {
   grid-area: footer;
   background-color:red;
}
