<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonoMuse - Checkout</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body onload="addYear()">
    <div class="container">
        <header class="header">
            <h1>Checkout</h1>
        </header>
        <nav class="nav_bar">
            <a href="../index.html">Home</a>
            <a href="../views/explore.html">Explore</a>
            <a href="../views/exhibitions.html">Exhibitions</a>
            <a href="../views/tickets.html">Buy Tickets</a>
            <a href="../views/checkout.html">Checkout</a>
            <a href="javascript:void(0)" class="hamburger" onclick="toggleNav()">&#9776;</a>
        </nav>
        <main class="main">
            <form>
                <label for="name">Name: (required)</label><br>
                <input type="text" id="name" name="name" required><br>
                <br>
                <label for="email">Email: (required)</label><br>
                <input type="email" id="email" name="email" required><br>
                <br>
                <label for="quantity">Ticket Quantity: (required)</label><br>
                <input type="number" id="quantity" name="quantity" min="1" required><br>
                <br>
                <button type="button" onclick="alert('Redirecting to payment system.')">Submit</button>
            </form>
        </main>
        <footer class="footer">
            <p id="copyYear">MonoMuse. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
