<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonoMuse - Explore</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://maps.googleapis.com/maps/api/js?key=SECRET" async></script>
</head>
<body onload="addYear()">
    <div class="container">
        <header class="header">
            <h1>Explore</h1>
        </header>
        <nav class="nav_bar">
            <a href="../index.html">Home</a>
            <a href="../views/explore.html">Explore</a>
            <a href="../views/exhibitions.html">Exhibitions</a>
            <a href="../views/tickets.html">Buy Tickets</a>
            <a href="../views/checkout.html">Checkout</a>
            <a href="javascript:void(0)" class="hamburger" onclick="toggleNav()">&#9776;</a>
        </nav>
        <main class="main">
            <figure class="main_img">
                <img src="../static/images/explore_html/Museum Image.png" alt="MonoMuse Museum">
            </figure>
            <iframe class="ifrm" src="https://www.youtube.com/embed/51G1a8ujdUc?si=Zm3CMoVKshNx4eHo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"  allowfullscreen></iframe>            <section>
                <h2>Mission Statement</h2>
                <p>
                    MonoMuse is dedicated to exploring the evolving relationship between art, technology, and society. Our mission is to inspire curiosity and creativity by showcasing innovative exhibitions that highlight how digital tools, emerging technologies, and human imagination shape the future of artistic expression.
                </p>
            </section>
            <section>
                <h2>Milestones</h2>
                <ul>
                    <li>2023: Expansion of the museum space and launch of international artist collaborations.</li>
                    <li>2018: Launch of the Interactive Media Lab, allowing visitors to experiment with creative coding.</li>
                    <li>2016: MonoMuse opens its doors with its first exhibition on digital storytelling.</li>
                </ul>
            </section>
            <section>
                <h2>Visit Us</h2>
                <div id="map"></div>
            </section>
        </main>
        <footer class="footer">
            <p id="copyYear">MonoMuse. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
