<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Exhibitions
    </h1>
    <nav>
		<a href="index.html">Home</a>
		<a href="views/explore.html">Explore</a>
		<a href="views/exhibitions.html">Exhibitions</a>
		<a href="views/tickets.html">Buy Tickets</a>
		<a href="views/checkout.html">Checkout</a>
	</nav>
    <h2>
        Exhibition 1: Digital Dreams: Art in the Age of Algorithms
    </h2>
    <p>
        
    </p>
</body>
</html>