<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Tickets
    </h1>
    <nav>
		<a href="../index.html">Home</a>
		<a href="../views/explore.html">Explore</a>
		<a href="../views/exhibitions.html">Exhibitions</a>
		<a href="../views/tickets.html">Buy Tickets</a>
		<a href="v../iews/checkout.html">Checkout</a>
	</nav>
    <table>
        <caption>

        </caption>
        <thead>
            <tr>
                <th>
                    Ticket Type
                </th>
                <th>
                    Description
                </th>
                <th>
                    $Price$
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Adult
                </td>
                <td>
                    General admission for ages 18 and over. Under 18 free of charge.
                </td>
                <td>    
                    $18
                </td>
            </tr>
            <tr>
                <td>
                    Student
                </td>
                <td>
                    Student ID required
                </td>
                <td>
                    $10
                </td>
            </tr>
            <tr>
                <td>
                    Member
                </td>
                <td>
                    Member ID required
                </td>
                <td>
                    $15
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        © 2026 MonoMuse. All rights reserved.
    </p>
</body>
</body>
</html>