<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>
        Checkout
    </h1>
    <nav>
		<a href="../index.html">Home</a>
		<a href="../views/explore.html">Explore</a>
		<a href="../views/exhibitions.html">Exhibitions</a>
		<a href="../views/tickets.html">Buy Tickets</a>
		<a id="navselected" href="../views/checkout.html">Checkout</a>
	</nav>
    <form action="und">
        <label for="name">Name: (required) </label><br>
        <input type="text" id="name" name="name"><br>
        <p></p>
        <label for="email">Email: (required)</label><br>
        <input type="email" id="email" name="email"><br>
        <p></p>
        <label for="quantity">Ticket Quantity: (required)</label><br>
        <input type="number" id="quantity" name="quantity">
    </form>
    <p></p>
    <button type="button">Submit</button>
    <p>
        © 2026 MonoMuse. All rights reserved.
    </p>
</body>
</html>