<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Explore</h1>
    <nav>
		<a href="../index.html">Home</a>
		<a id="navselected" href="../views/explore.html">Explore</a>
		<a href="../views/exhibitions.html">Exhibitions</a>
		<a href="../views/tickets.html">Buy Tickets</a>
		<a href="../views/checkout.html">Checkout</a>
	</nav>
    <img src="../images/explore_html/Museum Image.png">
    <h2>
        Mission Statement
    </h2>
    <p>
        MonoMuse is dedicated to exploring the evolving relationship between art, technology, and society. Our mission is to inspire curiosity and creativity by showcasing innovative exhibitions that highlight how digital tools, emerging technologies, and human imagination shape the future of artistic expression.
    </p>
    <h2>
        Milestones
    </h2>
    <ul>
        <li>2023: Expansion of the museum space and launch of international artist collaborations.</li>
        <li>2018: Launch of the Interactive Media Lab, allowing visitors to experiment with creative coding.</li>
        <li>2016: MonoMuse opens its doors with its first exhibition on digital storytelling.</li>
    </ul>
    <p>
        © 2026 MonoMuse. All rights reserved.
    </p>
</body>
</html>